body {
  font-family: "Tajawal", sans-serif;
}

::root {
  --main: #ad4791;
  --sub: #614d9b;
  --text-color: #4e4d4d;
  --orange: #f39322;
}

.color-main {
  color: #ad4791;
}

.color-sub {
  color: #614d9b !important;
}

.fs-12 {
  font-size: 13px;
}

.cursor {
  cursor: pointer;
}

.our-projects form input[type=submit], .web-services input[type=submit], .sub-services .container .sub-ser, .services .container, .slider ul, .navbar-nav, .social-icons > a, .serves {
  background: linear-gradient(to right, rgb(233, 90, 133) 0%, rgb(206, 82, 139) 14%, rgb(180, 75, 144) 27%, rgb(176, 72, 144) 36%, rgb(171, 69, 144) 45%, rgb(132, 63, 143) 69%, rgb(97, 58, 142) 91%);
}

.our-projects .owl-carousel, .our-projects form input[type=text],
.our-projects form input[type=email], .web-services form input[type=text],
.web-services form input[type=password], .media-center .media-box .media-content .box:hover, .media-center .media-box, .sub-services .container .sub-ser, .services .container, .slider .carousel-item, .slider ul, .navbar-nav {
  border-top-left-radius: 81.431px;
  border-bottom-right-radius: 77.384px;
}

.main-br {
  border-top-left-radius: 81.431px;
  border-bottom-right-radius: 77.384px;
}

/* Start global service */
.donation {
  top: 80px;
  z-index: 100;
  cursor: pointer;
}

.serves {
  top: 250px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
  z-index: 100;
}

/* End global service */
/* Start Navbar */
.navbar-toggler:focus {
  outline: none;
  box-shadow: unset;
}

.social-icons {
  margin-left: 1rem;
}
.social-icons > a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 81.431px;
  border-bottom-right-radius: 77.384px;
}
.social-icons > a svg {
  color: white;
  font-size: 14px;
  transition: 0.7s;
}
.social-icons > a:hover svg {
  transform: rotate(1turn);
}

.navbar-nav .nav-item {
  position: relative;
  padding-left: 1rem;
}
.navbar-nav .nav-item:not(:last-of-type)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 50%;
  width: 1px;
  background-color: white;
  transform: translateY(50%);
}
.navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: bold;
}
.navbar-nav .nav-item:hover .nav-link {
  color: rgba(255, 255, 255, 0.6);
}

/* ENd Navbar */
/* Start Slider */
.slider ul {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}
.slider ul li {
  position: relative;
}
.slider ul li:not(:last-of-type)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 50%;
  width: 1px;
  background-color: white;
  transform: translateY(50%);
}
.slider ul a {
  color: white;
  font-weight: bold;
}
.slider ul a:hover {
  color: rgba(255, 255, 255, 0.6);
}
/* End Slider */
/* Start Services */
@media (max-width: 767px) {
  .services .row {
    flex-direction: column;
  }
}

/* End Services */
/* Start Sub Services */
.sub-services .container .sub-ser {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-services .container .sub-ser .sub-ser-img {
  margin-left: 15px;
}
.sub-services .container .sub-ser .sub-ser-img img {
  max-width: 40px;
}
.sub-services .container .sub-ser .sub-ser-box {
  color: white;
  text-align: center;
}

/* End Sub Services */
/* Start Media Center */
.media-center {
  position: relative;
}
.media-center::after {
  content: "";
  background-image: url("./../images/media.png");
  position: absolute;
  top: 25%;
  left: 20%;
  z-index: -1;
  width: 197px;
  height: 204px;
  background-size: cover;
}
.media-center .media-box {
  background-color: rgba(230, 230, 230, 0.4509803922);
}
.media-center .media-box .media-head {
  padding-top: 15px;
  padding-right: 15px;
}
.media-center .media-box .media-head h5 {
  width: 40%;
}
.media-center .media-box .media-head ul li {
  padding: 5px 15px;
  cursor: pointer;
  color: var(--main);
}
.media-center .media-box .media-content .box {
  transition: 0.5s;
  cursor: pointer;
  padding-top: 8px;
  padding-right: 18px;
}
.media-center .media-box .media-content .box p.card-text {
  font-size: 12px;
}
.media-center .media-box .media-content .box:hover {
  background-color: #fff;
  box-shadow: 0px 0px 12px 2px rgba(78, 77, 77, 0.09);
}
.media-center .media-box .media-content .more a:hover {
  color: #614d9b;
}

/* End Media Center */
/* Start Web Services */
.web-services .icon {
  background-color: #ad4791;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.web-services .icon img {
  transition: 0.5s;
}
.web-services .icon:hover img {
  transform: rotate(1turn);
}
.web-services form input[type=text],
.web-services form input[type=password] {
  background-color: rgba(230, 230, 230, 0.4509803922);
  padding: 8px 40px 8px 0;
}
.web-services form .lables {
  width: 85%;
}
.web-services input[type=submit] {
  border: none;
  width: 50%;
  border-radius: 15px;
  color: #fff;
  padding: 5px 0;
}

/* End Web Services */
/* Start Our Projects */
.our-projects {
  position: relative;
}
.our-projects::after {
  content: "";
  position: absolute;
  background-image: url("./../images/our-work.png");
  z-index: -1;
  top: 0;
  left: 25%;
  width: 242px;
  height: 381px;
  background-size: cover;
}
.our-projects .last-twits {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 2px;
  font-size: 18px;
}
.our-projects .last-twits::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 0;
  right: 0;
}
.our-projects form input[type=text],
.our-projects form input[type=email] {
  background-color: rgba(230, 230, 230, 0.4509803922);
}
.our-projects form input[type=submit] {
  border: none;
  width: 100%;
  border-radius: 15px;
  color: #fff;
  padding: 5px 0;
}
.our-projects .owl-carousel {
  background-color: rgba(230, 230, 230, 0.4509803922);
  padding: 5px;
}
.our-projects .owl-carousel div img {
  width: 190px;
  height: 70px;
}

/* End Our Projects */
/* Start Contact Us*/
.contact-us {
  background-color: #ad4791;
  color: rgba(255, 255, 255, 0.8);
}
.contact-us ul li {
  transition: 0.3s;
}
.contact-us ul li:hover {
  color: #fff;
}
.contact-us a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  font-size: 20px;
}
.contact-us a:hover {
  color: #fff;
}
.contact-us span:hover {
  color: #fff;
}

/* ENd Contact Us*/
/* Start Footer */
footer .visitor {
  background-color: #f39322;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  padding: 5px 50px;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
}
footer .visitor p {
  margin: 0;
}
footer .copyright {
  font-size: 13px;
  color: #ad4791;
}

/* End Footer *//*# sourceMappingURL=app.css.map */